body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

h1 {
  text-align: center;
}

.inputbar {
  margin-left: auto;
  margin-right: auto;
  padding: 2em 2em 2em 2.7em;
  width: 50%;
}

.inputbar input {
  width: 75%;
  padding: 8px;
  height: 40px;
}

.inputbar Button {
  margin-left: 1em;
  width: 20%;
}

.listContainer {
  margin-left: auto;
  margin-right: auto;
  list-style-type:none;
  width: 50%;
}

.item {
  display: flex;
  padding: 10px;
  margin:  0 5% 1em 4%;
  background: #FEFFED;
}

.item input {
  align-self: center;
  margin: auto 5px;
}

.item p {
  align-self: center;
  margin: 5px;
  text-decoration:line-through;
}

.item Button {
  margin-left: auto;
  align-self: center;
}


@media only screen and (max-width: 850px) {
  .inputbar {
    width: 100%;
  }

  .listContainer {
    width: 100%;
  }
}
